<footer class='footer'>
  <div class='container-fluid'>
    <table>
      <tbody>
        <tr>
          <td class='col-xs-4 footer-left-column'>
            Дизайн
          </td>
          <td class='col-xs-4 footer-center-column'>
            <span>
              <%= link_to 'Директ', '#'%> — контекстная реклама
            </span>
            <span>
              <%= link_to 'Справочник', '#'%>
            </span>
            <span>
              <%= link_to 'Метрика', '#'%>
            </span>
            <span>
              <%= link_to 'Реклама', '#'%>
            </span>
          </td>
          <td class='col-xs-4 footer-right-column'>
            <span>
              <%= link_to 'Вакансии', '#'%>
            </span>
            <span>
              <%= link_to 'Блог', '#'%>
            </span>
            <span>
              <%= link_to 'О компании', '#'%>
            </span>
            <span>
              <%= link_to 'About', '#'%>
            </span>
            <span>
              © Яндекс
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</footer>

