<div class="row">
  <div class="col-xs-6">
    <h4>
      <%= link_to "Новости Москвы", '#' %>
    </h4>
    <ol>
      <li> За некрополиста Москвина <%= link_to "«впряглись» столичные адвокаты ", '#' %> </li>
      <li> За некрополиста Москвина <%= link_to "«впряглись» столичные адвокаты ", '#' %> </li>
      <li> За некрополиста Москвина <%= link_to "«впряглись» столичные адвокаты ", '#' %> </li>
      <li> За некрополиста Москвина <%= link_to "«впряглись» столичные адвокаты ", '#' %> </li>
      <li> За некрополиста Москвина <%= link_to "«впряглись» столичные адвокаты ", '#' %> </li>
    </ol>
  </div>

  <div class="col-xs-6">
    <div class="adv-grey-square">
    </div>
  </div>
</div>
