<div class="row home-news-row">
  <div class="col-xs-6">
    <h4>
      <%= link_to "Новости", '#', class: 'home-news-header' %>
      <%= link_to "в Москве", '#' %>
      <span class="grey-text home-news-datetime"> 4 июня, четверг 13:53</span>
    </h4>
    <ol>
      <li> За некрополиста Москвина <%= link_to "«впряглись» столичные адвокаты ", '#' %> </li>
      <li> Экс-чиновник ФИФА Чак Блейзер <%= link_to " признался в получении взяток", '#' %> </li>
      <li> Депутаты КПРФ просят <%= link_to "признать Фонд Сороса нежелательной организацией", '#' %> </li>
      <li> Семь тысяч туристов отменили <%= link_to "поездки в Южную Корею из-за вируса MERS", '#' %> </li>
      <li> Кожин: Китай и Индия интересуются <%= link_to "покупкой новейшей военной техники РФ", '#' %> </li>
    </ol>
    <%= render 'home/lists/stock_summary'%>
  </div>

  <div class="col-xs-6">
    <div class="home-adv-grey-square">
    </div>
    <p class='no-margin'> <%= link_to 'Яндекс.Деньги', '#' %> </p>
    <h4 class='no-margin'> <%= link_to 'Получите код Skype до 4 июня', '#' %> </h4>
    <p class='no-margin'> за платежи от 100 рублей</p>
  </div>
</div>
