<p>
  <span>
    Поиск
  </span>
  <span>
    <%= link_to 'Карты', '#', class: ''%>
  </span>
  <span>
    <%= link_to 'Карты', '#', class: ''%>
  </span>
  <span>
    <%= link_to 'Карты', '#', class: ''%>
  </span>
  <span>
    <%= link_to 'Карты', '#', class: ''%>
  </span>
  <span>
    <%= link_to 'Карты', '#', class: ''%>
  </span>
  <span>
    <%= link_to 'Карты', '#', class: ''%>
  </span>
  <span>
    <%= link_to 'Карты', '#', class: ''%>
  </span>
  <span>
    <%= link_to 'Карты', '#', class: ''%>
  </span>
  <span>
    <%= link_to 'Карты', '#', class: ''%>
  </span>
</p>
