<div class="row">
  <div class="col-xs-4 left-zero-padding">
    <h4>
      <%= link_to "Карта Москвы", '#' %>
    </h4>
    <ul class="no-marks-list home-map-grey-square">
      <li>
        <%= link_to "Красивые места на панорамах", '#' %>
      </li>
      <li>
        <%= link_to "Расписания", '#' %>
      </li>
    </ul>
  </div>
  <div class="col-xs-4">
    <h4>
      <%= link_to "Погода", '#' %>
      <span><div class='ico-weather-grey-square'> </div></span> +22 °C
    </h4>
    <ul class="no-marks-list">
      <li>Днем +24, вечером +19</li>
    </ul>
  </div>
  <div class="col-xs-4">
    <h4> <%= link_to "Телепрограмма", '#' %> </h4>
    <ul class="no-marks-list">
      <li>09:45 <%= link_to 'Жить здорово!', '#' %> Первый </li>
      <li>10:45 <%= link_to 'Жить здорово!', '#' %> Первый </li>
      <li>11:45 <%= link_to 'Жить здорово!', '#' %> Первый </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <ul class="no-marks-list">
      <li>Красивые места на панорамах</li>
      <li>Красивые места на панорамах</li>
      <li>Красивые места на панорамах</li>
    </ul>
  </div>
  <div class="col-xs-4">
    <h4>Афиша</h4>
    <ul class="no-marks-list">
      <li>Красивые места на панорамах</li>
      <li>Красивые места на панорамах</li>
      <li>Красивые места на панорамах</li>
    </ul>
  </div>
  <div class="col-xs-4">
    <ul class="no-marks-list">
      <li>Красивые места на панорамах</li>
      <li>Красивые места на панорамах</li>
      <li>Красивые места на панорамах</li>
    </ul>
  </div>
</div>
