<div class="row home-widgets-row">
  <div class="col-xs-4 left-zero-padding">
    <h4>
      <%= link_to "Карта Москвы", '#' %>
    </h4>
    <%= render 'home/lists/map'%>
  </div>
  <div class="col-xs-4">
    <h4>
      <%= link_to "Погода", '#' %>
      <span><div class='ico-weather-grey-square'> </div></span> +22 °C
    </h4>
    <ul class="no-marks-list">
      <li>Днем +24, вечером +19</li>
    </ul>
  </div>
  <div class="col-xs-4">
    <h4> <%= link_to "Телепрограмма", '#' %> </h4>
    <%= render 'home/lists/tv'%>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <%= render 'home/lists/market'%>
  </div>
  <div class="col-xs-4">
    <h4> <%= link_to "Афиша", '#' %> <span>(Москва)</span></h4>
    <%= render 'home/lists/afisha'%>
  </div>
  <div class="col-xs-4">
    <%= render 'home/lists/stock_finance'%>
    <div class='home-stock-spacer'></div>
    <%= render 'home/lists/stock_oil'%>
  </div>
</div>
