<ul class="no-marks-list">
  <li>
    <span class='ico-service-grey-squre'>
    </span>
    <%= link_to 'Маркет', '#' %> — одежда на любой вкус
  </li>
  <li>
    <span class='ico-service-grey-squre'>
    </span>
    <%= link_to 'Авто', '#' %> — модели и цены 2014 г.
  </li>
  <li>
    <span class='ico-service-grey-squre'>
    </span>
    <%= link_to 'Работа', '#' %> — без опыта
  </li>
  <li>
    <span class='ico-service-grey-squre'>
    </span>
    <%= link_to 'Недвижимость', '#' %> — просторная трешка
  </li>
  <li class="home-service-additional-links">
    <span>
      <%= link_to 'Деньги', '#' %>
    </span>
    <span>
      <%= link_to 'Фотки', '#' %>
    </span>
    <span>
      <%= link_to 'Диск', '#' %>
    </span>
  </li>
</ul>
