<p class='home-search-menu'>
  <span>
    Поиск
  </span>
  <span>
    <%= link_to 'Карты', '#', class: ''%>
  </span>
  <span>
    <%= link_to 'Маркет', '#', class: ''%>
  </span>
  <span>
    <%= link_to 'Новости', '#', class: ''%>
  </span>
  <span>
    <%= link_to 'Словари', '#', class: ''%>
  </span>
  <span>
    <%= link_to 'Картинки', '#', class: ''%>
  </span>
  <span>
    <%= link_to 'Видео', '#', class: ''%>
  </span>
  <span>
    <%= link_to 'Музыка', '#', class: ''%>
  </span>
  <span>
    <%= link_to 'Перевод', '#', class: ''%>
  </span>
  <span>
    <%= link_to 'ещё', '#', class: ''%>
  </span>
</p>
